<h2>Produtos</h2>

<div class="products">
  {{#each products}}
    <div class="card">
      <h3>{{this.name}}</h3>
      <p>R$ {{this.price}}</p>
      <a href="/product/{{this.id}}">Ver produto</a>
    </div>
  {{/each}}
</div>