<h1>Adicionar usuário</h1>


<form action="/users/create" method="POST" class="form">


<div class="form-control">

<label>
Nome:
</label>

<input 
type="text" 
name="name"
placeholder="Digite seu nome">

</div>




<div class="form-control">

<label>
Profissão:
</label>

<input 
type="text"
name="occupation"
placeholder="Digite sua profissão">

</div>





<div class="form-control checkbox">


<input 
type="checkbox"
name="newsletter">


<label>
Enviar promoções?
</label>


</div>



<input 
type="submit"
value="Cadastrar">


</form>