<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Node + MySQL</title>
</head>
<body>

    <header class="navbar">
        <div class="logo">
            📚 Meu Sistema de Livros
        </div>

        <nav>
            <a href="/">Home</a>
            <a href="/books">Livros</a>
            <a href="/books/add">Adicionar</a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

</body>
</html>