<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar usuario</title>
</head>
<body>
    <h1>Adicionar usuario</h1>
    <form action="/users/save" method="post">
        <input type="text" name="name" placeholder="digite seu nome">
        <br>
        <input type="text" name="age" placeholder="informe sua idade">
        <br>
        <input type="submit" value="cadastrar">
    </form>
</body>
</html>